# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace files
go.work
go.work.sum

# Dependency directories
vendor/

# Docker files
docker-compose.yml
Dockerfile

# Environment files
.env
.env.*
app/.env.prod

# Compiled Go binaries
app/cmd/*
app/pkg/*

# Ignore test results
test/*

# IDE specific files (IntelliJ, VSCode, etc.)
.idea/
.vscode/

# Ignore modules and dependencies
go.mod
go.sum
